*{
    margin-left:20px;
    margin-right:20px;
    background-color: slategray;
}
h1{
    color:darkblue;
}
img{
height:150px;
width:100px;
}
.header{
    text-align: center;
}
.social{
    text-align:center;
}
@media screen and (min-width: 480px) {
    body {
        background-color: slategray;
        color: darkblue;
    }