*{
    margin-left:10px;
    margin-right:10px;
}
#section{
    background-color: grey;
    /* background-ima<div class="header">ge: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOQzv6wLZZ5WgjfXl1J95irI3Px_-SPLRJhPrYNJxgn05WqN2XXQ); */
    padding: 0px;
    text-align:center; 
}
.me{
    font-style: bold;
    margin-left: 0px;
    margin-right:300px; 
    text-align: center;
}
h1{
    color:darkblue;
}
#AboutMe{
    font-style: oblique;
}
span{
    font-style: italic;
    font-size: large;
}
.header{
    text-align: center;
}
.social{
    text-align:center;
}
img{
    height:200px;
    width:200px;
}
body{
    background-color: darkgray;
    color:darkblue;
}
@media screen and (min-width: 900px) {
    body {
        background-color: navajowhite;
        color: black;
        text-align:center; 
    }
      #section{
        display:inline-block;
    }
    .me{
        margin-top: 80px;
       }
   }
@media scr
    #secti
      disp
    }
}
    image{justify-content
        border-radius:80px;
    }
    footer{
        margin-top: 10px;
        text-align:center;
        background-color: seagreen;
    }